.emptyTasks {
  border-top: 1px solid var(--gray-400);
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  height: 16.6rem;
  padding: 4rem 1.5rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  gap: 1rem;
}
